<div class="container centered">
    <div>
      <h1>Start your search!</h1>
    </div>
    <div>
        <form mathod='get' action="/score">
          <div class="form-group">
              <label for="exampleFormControlSelect1">Select a league:</label>
              <select name="leagueId" class="form-control" id="leagues">
      <% @leagues.each do |key, value|
          if key === "competitions" 
            value.each do |record|
          %>
              <option value=<%=record['id'] %>><%= record['name'] %></option>
         <%
            end
          end 
        end%>
          </select>
          <select id="teams" name="teamId" class="form-control" id="exampleFormControlSelect1">
          </select>
          </div>
          <button class="btn btn-dark">Search</button>
      </form>
    </div>
</div>